/* Estilo para el botón de logout en la esquina superior derecha */
.button-logout {
  border-radius: 30px;
  font-weight: bold;
  text-transform: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
  width: 80px;
  height: 30px;
  font-size: 10px;
  position: fixed;
  top: 20px;  /* Alineación a la parte superior */
  right: 20px;  /* Alineación a la derecha */
  z-index: 1000;  /* Asegura que el botón esté por encima de las tarjetas */
}

/* Contenedor principal de la página */
.home-container {
  padding-top: 80px;  /* Espacio suficiente para las tarjetas debajo del botón */
  width: 100%;
}

/* Contenedor de la lista de tareas */
.task-list {
  display: flex;
  flex-direction: column;  /* Coloca las tarjetas de tarea en una columna */
  gap: 16px;  /* Espacio entre las tarjetas */
  align-items: flex-start;  /* Alinea las tarjetas a la izquierda */
  margin-top: 500px;  /* Espacio superior de las tarjetas */
}

.task-card {
  width: 100%;
  max-width: 300px; 
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card:hover {
  transform: translateY(-5px); 
}

.task-card h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px; 
}

.task-card p {
  margin: 0;
  font-size: 1em;
}

.task-details-modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  z-index: 1000;  
}

/* Estilo para los botones del modal */
.modal-button {
  margin-top: 20px;
}
