.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: fadeIn 1s ease-in-out;
  color: #333;
  transition: margin-left 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.form-container .MuiTypography-root {
  text-align: center;
  margin-bottom: 20px;
}

.form-container .MuiButton-root {
  margin-top: 16px;
}

.form-container .MuiTextField-root {
  margin-top: 12px;
}

.button-create-update {
  border-radius: 30px;
  padding: 10px 0;
  font-weight: bold;
  text-transform: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
}

.button-create-update:hover {
  background-color: #8FBC8F; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    transition: width 0.3s ease;
    z-index: 1000;
  }
  
  .navbar.open {
    width: 200px;
  }
  
  .navbar .icon-button {
    margin-bottom: 20px;
    color: white;
  }
  
  .navbar-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  .navbar-content button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-content button:hover {
    background-color: #444;
  }
  
  .button-logout {
    top: 400px;
  }